/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
}
form{
    margin-top: 0.3em;
    margin-bottom: 1em;
}